.button{
	background-color: lightgray;
}
.strip2{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.strip4{
	margin-top: 40px;
	margin-bottom: 40px;
}
.strip5{
	margin-top: 40px;
	margin-bottom: 40px;
}